<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Store your secrets securely.</title>
  <meta name="Store your Secrets Securely." content="">
  <meta name="mohrt" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">
  <link rel="stylesheet" href="css/skeleton-tabs.css">
  <link rel="stylesheet" href="css/custom.css">

  <!-- SCRIPTS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="js/jquery-3.2.1.slim.min.js"></script>
  <script src="js/FileSaver.js"></script>
  <script src="js/skeleton-tabs.js"></script>
  <script src="js/vue.min.js"></script>
  <script src="js/secrets.min.js"></script>

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">

</head>
<body>

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container" id="app">
    <section class="header">
      <h2>Store your secrets securely.</h2>
      <img class="value-img" src="images/keys.svg">
    </section>

    <ul class="tab-nav">
      <li>
        <a class="button active" href="#about">About</a>
      </li>
      <li>
        <a class="button" href="#generate">Generate</a>
      </li>
      <li>
        <a class="button" href="#restore">Restore</a>
      </li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="about">
        <div class="docs-section" id="intro">
          <p>Storing sensitive data can be problematic. If it gets accidentally lost or destroyed, you lose your data. If stolen, your data is compromised. You can make multiple copies and store them in isolation, but this increases the risk of being stolen or misplaced. You can encrypt them, but then you face the same problem storing the encryption key.</p>
          <p>Secret Coin uses <a href="https://en.wikipedia.org/wiki/Shamir%27s_Secret_Sharing">Shamir's Secret Sharing</a> algorithm to divide your secret into multiple (N) shares, and then you can restore the secret using a specified number of the shares (M of N). None of the shares contain identifiable information about the secret. If any share, or up to (M-1) shares are compromised, the secret is still completely unknown.</p>
          <p>
          This type of security model is critical for data such as Bitcoin mnemonic phrases, private keys, or anything giving one "keys to the kingdom."
          </p>
          <p>
            All operations happen in your browser. You can disconnect from the network and use this web page. The source for this website is available on <a href="https://github.com/mohrt/secretcoin">GitHub</a>. <span class="red">It is highly recommended to download the source .zip and launch it on an off-line computer.</span> Instructions can be found at the <a href="https://github.com/mohrt/secretcoin">Secret Coin Source Repository</a>.
          </p>
        </div>
      </div>
      <div class="tab-pane" id="generate">

          <div class="docs-section" id="form-generate">
              <form @submit.prevent>
                <div class="row">
                  <div class="twelve columns">
                    <label for="secretInput">Secret</label>
                    <input class="u-full-width" type="text" placeholder="Enter a mnemonic phrase, private key, or any text you want kept secret." id="secretInput" v-model="secret">
                  </div>
                </div>
                <div class="row">
                  <div class="four columns">
                    <label for="secretShares"># of shares</label>
                    <select class="u-full-width" id="secretShares" v-model.number="sharesTotal" type="number">
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                      <option value="9">9</option>
                      <option value="10">10</option>
                      <option value="11">11</option>
                      <option value="12">12</option>
                    </select>
                  </div>
                  <div class="four columns">
                    <label for="secretSharesRequired"># required shares to restore</label>
                    <select class="u-full-width" id="secretSharesRequired" v-model.number="sharesRequired" type="number">
                      <option value="1">1</option>
                      <option value="2">2</option>
                      <option value="3">3</option>
                      <option value="4">4</option>
                      <option value="5">5</option>
                      <option value="6">6</option>
                      <option value="7">7</option>
                      <option value="8">8</option>
                      <option value="9">9</option>
                      <option value="10">10</option>
                      <option value="11">11</option>
                      <option value="12">12</option>
                    </select>
                  </div>
                  <div class="four columns">
                    <label for="downloadFilenamePrefix"># filename prefix</label>
                    <input class="u-full-width" type="text" placeholder="" id="downloadFilenamePrefix" v-model="downloadFilenamePrefix">
                  </div>
                </div>
                <div class="row">
                  <div class="two columns">
                    <input class="button-primary" type="submit" value="Generate" @click="generate">
                  </div>
                </div>
                <template v-for="(share,index) in shares">
                  <div class="row">
                    <div class="six columns">
                      <input class="u-full-width" type="text" v-model="shares[index]" :id="['share-' + index]" @focus="$event.target.select()">
                    </div>
                    <div class="two columns">
                      <input class="button" type="submit" value="download" @click="download(index)">
                    </div>
                    <div class="four columns centered">
                      <i>{{ downloadFilenamePrefix }}-{{ index }}.txt</i>
                    </div>
                  </div>
                </template>
                <div class="row" v-show="shares.length > 0">
                  <div class="four columns">
                    <input class="button" type="submit" value="Download All Single File" @click="downloadall">
                  </div>
                  <div class="eight columns center">
                    <i>{{ downloadFilenamePrefix }}-all-shares.txt</i>
                  </div>
                </div>
              </form>
          </div>
        
      </div>
      <div class="tab-pane" id="restore">

          <div class="docs-section" id="form-restore">
              <form @submit.prevent>
                <div class="row">
                  <div class="twelve columns">
                      <div class="docs-section" id="restore">
                        <p>Multi-select share files to restore your secret. Be sure to provide at least number of shares required.</p>
                      </div>
                  </div>
                </div>
                <div class="row">
                  <div class="six columns">
                      <input type="file" id="files" name="files[]" multiple @change="upload" />
                  </div>
                  <div class="six columns">
                    <input class="button-primary" type="submit" value="Restore" @click="restore">
                  </div>
                </div>
                <div class="row">
                  <div class="twelve columns">
                    <label for="secretRestored">Secret</label>
                    <input class="u-full-width" type="text" placeholder="" id="secretRestored" v-model="secretRestored" @focus="$event.target.select()">
                  </div>
                </div>
                <div class="row" v-show="isErrorRestoring">
                  <div class="twelve columns">
                     <i class="red">There was an error restoring the secret. Check that your uploaded files are valid shares.</i>
                  </div>
                </div>
              </form>
          </div>

      </div>
    </div>

  </div>
  <script>
    var app = new Vue({
      el: '#app',
      data: {
        secret: '',
        secretRestored: '',
        sharesTotal: 3,
        sharesRequired: 2,
        shares: [],
        sharesRestore: [],
        downloadFilenamePrefix: 'securecoin',
        isErrorRestoring: false
      },
      methods: {
        generate: function() {
            this.shares = secrets.share(secrets.str2hex(this.secret), this.sharesTotal, this.sharesRequired)
        },
        restore: function() {
          this.isErrorRestoring = false;
          try {
            this.secretRestored = secrets.hex2str(secrets.combine( this.sharesRestore ));
          } catch (e) {
            console.log('error!', e);
            this.isErrorRestoring = true;
          }
        },
        download: function (idx) {
            var prefix = this.downloadFilenamePrefix.length > 0 ? this.downloadFilenamePrefix : 'securecoin';
            saveTextAs(this.shares[idx], prefix + '-' + idx + '.txt' );   
        },
        downloadall: function() {
            var prefix = this.downloadFilenamePrefix.length > 0 ? this.downloadFilenamePrefix : 'securecoin';
            saveTextAs(this.shares.join('\n'), prefix + '-all-shares.txt' );
        },
        upload: function(e) {
            this.sharesRestore = [];
            var files = e.target.files || e.dataTransfer.files;
            if (!files.length)
              return;
            for (var i = 0, f; f = files[i]; i++) {
                var fr = new FileReader();
                var myshares = this.sharesRestore;
                fr.onload = function(e) {
                    myshares.push(e.target.result);
                };
                fr.readAsText(files[i]);
            }
        }

      },
      watch: {
        downloadFilenamePrefix: function (val) {
          this.downloadFilenamePrefix = this.downloadFilenamePrefix.replace(/[^\w\-\.]/g,'')
        }
      }
    })
  </script>
  <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-105305471-1', 'auto');
  ga('send', 'pageview');

  </script>
<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
